$white: #fff;
$color-background-btn: #f410da;
$color-primary: #83f785;
$color-primary-border: #aaf1b3;
$color-primary-text: #757474;
$color-col: #9973e3;
$color-link: #ed0303;

// Breakpoint
$break: 768px;