
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .default {
    @include fade;
    background-color:#f151fc;
    &:hover {
      background: lighten($color: #f151fc, $amount: 15%);
    }
  }
  
  .error {
    @include fade;
    background-color:#e4757a;
    &:hover {
      background: lighten($color: #e4757a, $amount: 15%);
    }
  }
  
  .info {
    @include fade;
    background-color:#927bc1;
    &:hover {
      background: lighten($color: #927bc1, $amount: 15%);
    }
  }
  
  .success {
    @include fade;
    background-color:#63cc82;
    &:hover {
      background: lighten($color: #63cc82, $amount: 15%);
    }
  }
  
  .warning {
    @include fade;
    background-color: #fd7856;
    &:hover {
      background: lighten($color: #fd7856, $amount: 15%);
    }
  }