
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .default {
    @include fade;
    background-color: $color-btn-1;
    &:hover {
      background: lighten($color: $complement-1, $amount: 15%);
    }
  }
  
  .error {
    @include fade;
    background-color: $color-btn-2;
    &:hover {
      background: lighten($color: $complement-2, $amount: 15%);
    }
  }
  
  .info {
    @include fade;
    background-color: $color-btn-3;
    &:hover {
      background: lighten($color: $complement-3, $amount: 15%);
    }
  }
  
  .success {
    @include fade;
    background-color: $color-btn-4;
    &:hover {
      background: lighten($color: $complement-4, $amount: 15%);
    }
  }
  
  .warning {
    @include fade;
    background-color: $color-btn-5;
    &:hover {
      background: lighten($color: $complement-5, $amount: 15%);
    }
  }